body { background: black; } /* remove this! */

#ecs-con { position: relative; width: 670px; margin: 0 auto; margin-top: 7px; /*z-index: 11;*/ }
	
	#ecs { width: 670px; background: black; /*margin: 0 auto;*/ height: 332px; overflow: hidden; position: relative; }
		#ecs .slides { position: absolute; /*display: none;*/ }
			#ecs div.images { float: left; margin-left: 6px; margin-bottom: 4px; }
			#ecs div.first-image { margin-left: 0; }
			
	#ecs-nav { position: absolute; right: -7px; top: -30px; z-index: 12; }
	#ecs-nav > button { cursor: pointer; font-family: arial; font-size: 15px; text-transform: uppercase; outline: none; border: none; color: #b9b9b9; background: black; font-weight: bold; }
		#ecs-nav > button.with-hover:hover { color: red; }


	/*#ecs-nav > button { cursor: pointer; border: none; outline: none; text-indent: -9999px; }*/
		/*#ecs-nav button#prev-btn { background: url('../img/eight-col-slider/prev-btn.jpg'); height: 16px; width: 95px; }
		#ecs-nav button#next-btn { background: url('../img/eight-col-slider/next-btn.jpg'); height: 16px; width: 60px; }*/