body { background: black; } /* remove this! */

#ecs-con { position: relative; width: 670px; margin: 0 auto; margin-top: 10px; }
	#ecs { width: 670px; background: black; /*margin: 0 auto;*/ height: 332px; /*overflow: hidden;*/ position: relative; }
		#ecs .slides { position: absolute; }
			#ecs div.images { float: left; margin-left: 6px; margin-bottom: 4px;  }
			#ecs div.first-image { margin-left: 0; }
	
