/*
* Nova HTML Template v 1.2
*
*/

/* IMPORTS ------------------------------------------------------------*/

@import url('reset.css');

@import url('styled-elements.css');

/* HACKS ------------------------------------------------------------*/

.clear{
	clear:both;
}

.inv{ display:none; }

.alignleft{
	float: left;
	margin: 5px 10px 5px 0px;
}

/* GENERAL ------------------------------------------------------------*/


body {
	line-height: 1;
	color: #51565b;
	background: #f1f1f1 url(../img/bg/patterns/noise.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size:  100%;
}

.wrapper{
	width: 766px;
	margin: 0px auto;
	position: relative;
	color:white;
}

#wrapper2{
	width: 682px;
	margin: 10px auto;
	position: relative;
}

#header{
	height: 250px;
	position: relative;
	z-index: 10;
	background: black url(../img/header-bg.jpg) top center no-repeat;
}

#main{
	width: 100%;
}


/* NAVIGATION --------------------------------------------------------*/


#nav{
	display: block;
	position: absolute;
	top: 160px;
	left: 100px;
	height: 79px;
	width: 906px;
}

#nav>li{
	display: block;
	float: left;
	padding: 10px 10px 0px 10px;
	height: 20%;
	border-right: 1px solid black;
	margin-top: 20px;
}

#nav>li:first-child{}

#nav li a{
	display: block;
	font-size: 12px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	
}

#nav>li>a>span.subheader{
	display: block;
	font-size: 11px;
	color: #656b74;
	font-style: italic;
	margin-top: 10px;
}

#nav li a.current-menu-item{
	color: #d84691;

}


#nav>li a.with-hover:hover{
	/*color: gray;*/
	color: #d84691;
}

/* sub navigation */

#nav>li ul{
	display: block;
	margin-top: 33px;
	background: #1d2023;
	border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	
	-webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
	-moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
	box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
}

#nav>li>ul ul{
	margin-top: 0px;
	border-radius: 0px 10px 10px 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
}

#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 11px;
	color: #bac0c9;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}

#nav>li ul li a:hover{
	background: #000;
	color: #fff;
}

#nav>li ul li:last-child a:hover{ /* last item its rounded at bottom */
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}


/* SEARCH --------------------------------------------------------*/

.top-search{
	position: absolute;
	right: 50px;
}

#searchform #s{
	color: #7e7e7e;
	font-size: 10px;
	width: 180px;
	height: 28px;
	padding: 0px 35px 0px 10px;
	border: 0;
	background: url(../img/search.png) no-repeat transparent;	
}

#searchform #searchsubmit{
	position: absolute; 
	top: 0px;
	right: 10px;
	width: 30px;
	height: 25px;
	border: 0px;
	background: url(../img/search.png) no-repeat transparent;
}


/* FOOTER ----------------------------------------------- */
#footer { text-align: center; height: 50px; clear:both;}
#footer p { font-family: arial; font-size: 12px; color: #B9B9B9; line-height: 50px; }

/* -------------------------------------------------------------------------------- */
/* PUT STYLES FOR SPECIFIC PAGES HERE ############################################# */
/* -------------------------------------------------------------------------------- */

/* HOME PAGE -------------------------------------------- */
#home #bottom-content { position: relative; height: 368px; /* background: red;*/ }
#home #image-001 { position: absolute; top: 6px; left: 46px; /*background: url('../img/image-001.jpg') no-repeat;*/ width: 221px; height: 181px; }
#home #image-002 { position: absolute; top: 187px; left: 46px; /*background: url('../img/image-002.jpg') no-repeat;*/ width: 221px; height: 181px; }
#home #image-009 { position: absolute; top: 6px; left: 267px; /*background: url('../img/img009.jpg') no-repeat;*/ width: 451px; height: 220px; }
#home #text-con { position: absolute; width: 451px; height: 181px; background: black; opacity: .6; left: 267px; top: 187px; }
	#home #text-con #text-inner { padding: 30px;  }
		#home #text-con #text-inner p { font-size: 12px; margin-top: 15px; }
		#home #text-con #text-inner p#first-text { margin-top: 0px; }


/* FIND A PROPERTY PAGE -------------------------------------------- */
#find-a-property #properties-outer-con { position: relative; height: 540px; width: 670px; margin: 0 auto; }
#find-a-property #properties-con  { position: absolute; left: -6px; margin-top: 10px;  }
	#find-a-property #properties-con .property-con { width: 163px; height: 170px; float: left; background: red; position: relative; margin-left: 6px; margin-bottom: 5px; }
		#find-a-property #properties-con .property-con img { width: 163px; height: 170px; position: absolute; }
		#find-a-property #properties-con .property-con h4 { position: absolute; bottom: 0; font-size: 12px; text-align: center; background: white; height: 25px; color: gray; line-height: 25px; width: 163px; }



.contact-header{
	color: gray;
	display: block;
	width: 220px;
	text-align: right;
	top: 60px;
	position: absolute;
	right: 50px;
	font-size:small;
}

.find_prop{
	margin: 30px 100px;
}

.find_prop hr{
	color: #bb8930;
	background-color: #bb8930;
	height: 2px;
	border: 0px;
}

#searchform #f{
	color: #7e7e7e;
	font-size: 10px;
	width: 495px;
	height: 28px;
	padding: 0px 35px 0px 30px;
	background: url(../img/big-search.png) no-repeat white;	
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 4px 0px #756f75;
    border: 1px; 
    border-color:gray;
    border-style:solid;
	border-width:2px;
}

.find_prop #playbutton{
	border: 0px;
	background: url(../img/submit-playbtn.jpg) no-repeat transparent;
}

#filter-menu{
	border: 2px solid #bb8930;
	font-size: 12px;
	display:block;
	width: 670px;
	margin: 0 auto;
	font-size: 11px;
}

#filter-menu li {
	/*display:inline;*/
	padding: 10px 5px;
	float: left;
/*	margin-top: 1px;*/

}

#left-btm{
  float:left;
  display: block;
  width: 230px;
}

#right-btm{
  color: black;
	background: none repeat scroll 0% 0% white;
	width: 450px;
	float: left;
	display: block;
	height: 517px;
}

.right-btm-txt{
	margin: 30px 30px 0px 30px;
}

#bottom-section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-btm-txt p{
	margin: 15px 0px 25px 0px;
	font-size: 11px;

}

.right-btm-txt h1{
	margin-bottom: 10px;
}

.right-btm-txt ul{
	list-style-type: disc;
	margin-left: 25px;
	font-size: 15px;
	color: #f5a604;
}

.map-label{
	float: right; margin-right:10px; background: url(../img/maplabel-bg.jpg) no-repeat; 
	height: 20px;
	width: 120px;
	font-size: 10px;
}

#news_gallery{
	display: block;
	margin-top: 20px;
}

#news_gallery .entry{
	display: block;
	background: white;
	color: black;
	font-size: 12px;
	width: 128px;
	float: left;
	margin: 10px 12px;
}

#news_gallery .label{
	  font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 110px;
}
